body {
  background-color: #00005c;
  color: #def4f0;
  text-align: center;
}

img {
  width: 30%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

ul {
  display: inline-block;
  text-align: left;
}

.light-bg {
  background-color: #e4e4e4;
  color: #6f0000;
}

.dark-bg {
  background-color: #00005c;
  color: #def4f0;
}